# Code editors and operating systems
.DS_Store
.vscode

# Python bytecode
**/__pycache__/

# mypy cache
**/.mypy_cache/

# TP1 intermediate files
TP1/.venv
TP1/dataset
TP1/**/*.csv
TP1/**/*.tex
!TP1/report/*.tex
TP1/report/*.pdf
